.footer {
    position: fixed;
    bottom: 0;
    z-index: -10;
    width: 100vw;
    height: 500px;
    background: var(--footer);
    color: var(--text-color);
    h2, h3, h4 {
        font-family: var(--fancyFont);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .containerBig {
        height: calc(100% - 50px);
    }
    .containerSmall {
        display: none;
        .collapse {
            width: 90vw;
        }
    }
}

@media (max-width: 900px) {
    .footer {
        .containerBig {
            display: none;
        }
        .containerSmall {
            display: block;
        }
    }
}