html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MikadoMedium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

body {
  padding-top: 100px !important;
  margin-bottom: 500px !important;
  background: var(--background);
}
#__next {
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p.magnify {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

* {
  z-index: 10;
}

:root {
  color-scheme: light dark;
  --blue: #1277EB;
  --background: white;
  --semi-white: #eee;
  --text-color: #000;
  --footer: #fafafa;
  --secondary-text: rgb(102, 102, 102);
  --transparentBack: rgba(255,255,255,0.85);
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #1e1e1e;
      --transparentBack: rgba(30,30,30,0.85);
      --semi-white: #333;
      --text-color: #fff;
      --footer: #000;
      --secondary-text: #eee;
  }
}
// Fonts
@font-face {
  font-family: 'MikadoBold';
  src: url('fonts/MikadoBold.eot');
  src: url('fonts/MikadoBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/MikadoBold.woff2') format('woff2'),
      url('fonts/MikadoBold.woff') format('woff'),
      url('fonts/MikadoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MikadoMedium';
  src: url('fonts/MikadoMedium.eot');
  src: url('fonts/MikadoMedium.eot?#iefix') format('embedded-opentype'),
      url('fonts/MikadoMedium.woff2') format('woff2'),
      url('fonts/MikadoMedium.woff') format('woff'),
      url('fonts/MikadoMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}