html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--normalFont);
}

h1, h2 {
  font-family: "Amatic SC", 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h4 {
  font-family: var(--fancyFont);
}
body {
  padding-top: 200px !important;
  margin-bottom: 500px !important;
  background: var(--background);
}

@media (max-width: 900px) {
  body {
    padding-top: 100px !important;
  }
}

#__next {
  background: var(--background);
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p.magnify {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

* {
  z-index: 10;
}

:root {
  color-scheme: light dark;
  --blue: #1277EB;
  --background: white;
  --semi-white: #eee;
  --text-color: #000;
  --footer: #fafafa;
  --secondary-text: rgb(102, 102, 102);
  --transparentBack: rgba(255,255,255,0.85);
  --fancyFont: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --normalFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #1e1e1e;
      --transparentBack: rgba(30,30,30,0.85);
      --semi-white: #333;
      --text-color: #fff;
      --footer: #000;
      --secondary-text: #eee;
  }
}
// Fonts
@import url('https://cdn.jsdelivr.net/npm/fontsource-quicksand@3.0.3/500-normal.min.css');
@import url("https://cdn.jsdelivr.net/npm/fontsource-amatic-sc@3.0.10/700.min.css")

// @font-face {
//   font-family: 'MikadoBold';
//   src: url('fonts/MikadoBold.eot');
//   src: url('fonts/MikadoBold.eot?#iefix') format('embedded-opentype'),
//       url('fonts/MikadoBold.woff2') format('woff2'),
//       url('fonts/MikadoBold.woff') format('woff'),
//       url('fonts/MikadoBold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'MikadoMedium';
//   src: url('fonts/MikadoMedium.eot');
//   src: url('fonts/MikadoMedium.eot?#iefix') format('embedded-opentype'),
//       url('fonts/MikadoMedium.woff2') format('woff2'),
//       url('fonts/MikadoMedium.woff') format('woff'),
//       url('fonts/MikadoMedium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Bold.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-BoldItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-BoldItalic.woff') format('woff');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Black.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Black.woff') format('woff');
//   font-weight: bolder;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-BlackItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-BlackItalic.woff') format('woff');
//   font-weight: bolder;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-RegularItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-RegularItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-HeavyItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-HeavyItalic.woff') format('woff');
//   font-weight: bolder;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Regular.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-SemiboldItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-SemiboldItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Heavy.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Heavy.woff') format('woff');
//   font-weight: bolder;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Semibold.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Semibold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-MediumItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-MediumItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Medium.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Medium.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }