html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--normalFont);
}

h1, h2 {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h3, h4 {
  font-family: var(--fancyFont);
}
body {
  padding-top: 200px !important;
  margin-bottom: 500px !important;
  background: var(--background);
}

@media (max-width: 900px) {
  body {
    padding-top: 100px !important;
  }
}

#__next {
  background: var(--background);
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p.magnify {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

* {
  z-index: 10;
}

:root {
  color-scheme: light dark;
  --blue: #1277EB;
  --background: white;
  --semi-white: #eee;
  --text-color: #000;
  --footer: #fafafa;
  --secondary-text: rgb(102, 102, 102);
  --transparentBack: rgba(255,255,255,0.85);
  --fancyFont: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --normalFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #1e1e1e;
      --transparentBack: rgba(30,30,30,0.85);
      --semi-white: #333;
      --text-color: #fff;
      --footer: #000;
      --secondary-text: #eee;
  }
}
// Fonts
@font-face{
    font-family:Quicksand;
    font-style:normal;
    font-display:swap;
    font-weight:500;
    src: url('fonts/quicksand-vietnamese-500-normal.woff2') format('woff2'), url('fonts/quicksand-all-500-normal.woff') format('woff');
    unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face{
    font-family:Quicksand;
    font-style:normal;
    font-display:swap;
    font-weight:500;
    src: url('fonts/quicksand-latin-ext-500-normal.woff2') format('woff2'), url('fonts/quicksand-all-500-normal.woff') format('woff');
    unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family:Quicksand;
    font-style:normal;
    font-display:swap;
    font-weight:500;
    src: url('fonts/quicksand-latin-500-normal.woff2') format('woff2'), url('fonts/quicksand-all-500-normal.woff') format('woff');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face{
    font-family:'Amatic SC';
    font-style:normal;
    font-display:swap;
    font-weight:700;
    src: url('fonts/amatic-sc-cyrillic-700-normal.woff2') format('woff2'), url('fonts/amatic-sc-all-700-normal.woff') format('woff');
    unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face{
    font-family:'Amatic SC';
    font-style:normal;
    font-display:swap;
    font-weight:700;
    src: url('fonts/amatic-sc-hebrew-700-normal.woff2') format('woff2'), url('fonts/amatic-sc-all-700-normal.woff') format('woff');
    unicode-range:U+0590-05FF,U+20AA,U+25CC,U+FB1D-FB4F
}

@font-face{
    font-family:'Amatic SC';
    font-style:normal;
    font-display:swap;
    font-weight:700;
    src: url('fonts/amatic-sc-vietnamese-700-normal.woff2') format('woff2'), url('fonts/amatic-sc-all-700-normal.woff') format('woff');
    unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face{
    font-family:'Amatic SC';
    font-style:normal;
    font-display:swap;
    font-weight:700;
    src: url('fonts/amatic-sc-latin-ext-700-normal.woff2') format('woff2'), url('fonts/amatic-sc-all-700-normal.woff') format('woff');
    unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face{
    font-family:'Amatic SC';
    font-style:normal;
    font-display:swap;
    font-weight:700;
    src: url('fonts/amatic-sc-latin-700-normal.woff2') format('woff2'), url('fonts/amatic-sc-all-700-normal.woff') format('woff');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}


// @font-face {
//   font-family: 'MikadoBold';
//   src: url('fonts/MikadoBold.eot');
//   src: url('fonts/MikadoBold.eot?#iefix') format('embedded-opentype'),
//       url('fonts/MikadoBold.woff2') format('woff2'),
//       url('fonts/MikadoBold.woff') format('woff'),
//       url('fonts/MikadoBold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'MikadoMedium';
//   src: url('fonts/MikadoMedium.eot');
//   src: url('fonts/MikadoMedium.eot?#iefix') format('embedded-opentype'),
//       url('fonts/MikadoMedium.woff2') format('woff2'),
//       url('fonts/MikadoMedium.woff') format('woff'),
//       url('fonts/MikadoMedium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Bold.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-BoldItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-BoldItalic.woff') format('woff');
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Black.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Black.woff') format('woff');
//   font-weight: bolder;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-BlackItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-BlackItalic.woff') format('woff');
//   font-weight: bolder;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-RegularItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-RegularItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-HeavyItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-HeavyItalic.woff') format('woff');
//   font-weight: bolder;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Regular.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-SemiboldItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-SemiboldItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Heavy.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Heavy.woff') format('woff');
//   font-weight: bolder;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Semibold.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Semibold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-MediumItalic.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-MediumItalic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'New York';
//   src: url('./fonts/NewYorkMedium-Medium.woff2') format('woff2'),
//       url('./fonts/NewYorkMedium-Medium.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
