.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    .img {
        width: 70px !important;
        img {
            object-fit: cover;
        }
    }
    .desc {
        width: 50% !important;
    }
}

.truncate {
    display: block;
    width: 100%;
    word-wrap: revert;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    height: 60px;
    vertical-align: middle;
    margin-bottom: 0;
}