.image {
    position: relative;
    img {
        object-fit: contain;
    }
}

.normalFont {
    font-family: var(--normalFont) !important;
}

.collapse {
    h3 {
        font-size: 1rem !important;
    }
}

.table {
    thead {
        display: none;
    }
    .infoHelp {
        margin-top: 8px;
        margin-left: 10px;
    }
}