.image {
    position: relative;
    img {
        object-fit: contain;
    }
}

.normalFont {
    font-family: var(--normalFont) !important;
}

.collapse {
    h3 {
        font-size: 1rem !important;
    }
}

.table {
    thead {
        display: none;
    }
    .infoHelp {
        margin-top: 8px;
        margin-left: 10px;
    }
}

.list {
    li {
        list-style: none;
        &::before {
            content: '';
            display: inline-block;
            height: 16px;
            width: 16px;
            background-image: url("../public/favicon.svg");
            background-position: center;
            background-size: contain;
            margin-left: -1.2rem;
            margin-top: 6px;
        }
    }
}