.display {
    div {
        overflow: unset !important;
        div {
            img {
                object-fit: contain;
            }
        }
    }
}

.normalFont {
    font-family: var(--normalFont) !important;
}

.collapse {
    h3 {
        font-size: 1rem !important;
    }
}